.Navigate{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    height: 70px;
    
}
.Logo a{
    color: #ffffff;
    background-color: rgb(0, 0, 255);
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    padding: 10px;
    border-radius: 5px;
}
.Logo a:hover{
    background-color: rgb(0, 68, 255);  
}
.Сlock{
    font-size: 25px;
    
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
 

}