.Statistics_Col-1{
    width: 40%;
    height: calc(100vh - 70px);

}

.Statistics_Col-2{
    width: 59%;
    height: calc(100vh - 70px);

}

.Row_Col-1{
    width: 100%;
    height: 320px;
}
.Statistics_Box-min{
    padding: 5px;
    width: 49.7%;
    height: 100%;
    border-radius: 10px ;
    border: 1px solid #000;
}

.Row_Col-2{
    width: 100%;
    height: 49.7%;
}
.Statistics_Box-max{
    padding: 5px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #000;
}

input{
    height: 40px;
    width: 100%;
}

